<div class="module padding-fluid service-slider style-{{module.style}}">
	{% set textColor = module.style == 'bordered' ? 'color-black' : 'color-grey' %}
	<div class="container">
		<div class="service-slider-wrap">

			<div class="service-slider-heading">
				<div class="service-slider-heading-content">
					<div class="service-slider-heading-content-title plantin {{textColor}} t-72 t-italic">
						{{module.title}}
					</div>
					<div class="service-slider-heading-content-description eaves t-32 {{textColor}}">
						{{module.description}}
					</div>
				</div>
				<div class="service-slider-heading-button">
					{% include 'partials/button.twig' with{
                    'link': module.button,
                    'style': 'mbtn mbtn-transparent-black',
                    } %}
				</div>
			</div>

			<div class="swiper swiper-service">
				<div class="swiper-wrapper">
					{% for item in module.select_item %}
						<div class="swiper-slide">
							<a href="{{item.link}}" class="service-slider-item">
								<div class="service-slider-item-image">
									{% include 'partials/image.twig' with{
								'image': item.thumbnail,
								} %}
								</div>
								<div class="service-slider-item-title plantin t-32 {{textColor}} t-italic">
									{{item.title}}
								</div>
								<div class="service-slider-item-desc eaves t-20 {{textColor}}">
									{{item.post_excerpt}}
								</div>

								{% if item.post_type == 'villas' %}
									<div class="service-slider-item-features">
										{% set icon = ['area','bed','guest'] %}
										{% for feat in icon %}
											{% set meta = feat == 'area' ? 'room_size' : feat  %}
											<div class="service-slider-item-features-item">
												<div class="service-slider-item-features-item-icon">
													{% include 'img/villa-icon.twig' with {
														value: feat
													} %}
												</div>
												<div class="service-slider-item-features-item-text eaves t-18 color-grey">
													{{item.meta(meta)}}
												</div>
											</div>
										{% endfor %}
									</div>
								{% endif %}
								<div class="service-slider-item-button ">
									<span class="eaves t-20 {{textColor}} ">View Details</span>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="service-slider-navigation">
				<div class="service-slider-navigation-prev touch">
					{% include 'img/circle-chevron.twig' with{
                        'class': 'icon-black icon-left'
                        } %}
				</div>
				<div class="service-slider-navigation-next touch">
					{% include 'img/circle-chevron.twig' with{
                        'class': 'icon-black'
                        } %}
				</div>
			</div>
		</div>
	</div>
</div>
